header, footer{
    text-align: center;
    text-transform: uppercase;
    border: 20px;
    padding: 20px;
    margin: 20px;
}
.name{
    text-transform: lowercase;
}
body{
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
}
